html,
body,
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure elements use border-box sizing by default */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #576c90;
  min-height: 100vh;
}

.page-bg {
  background-color: #0b101e;
  min-height: 100vh;
  color: #fff;
}